###Ignore Files of given Type: ###

###Output Data###
*.csv
*.exe

###Output Images###
*.png
*.jpg

###Compiled Files###
*.o
*.mod

###Compiled F2py files###
*.so

###Whatever these are? Tmp files?###
*.*~
3

###Executable###
run
